modules/dal/TSCache/web/WEB-INF/wsit-hadoop.ts.cache.HBaseCache.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HBaseCacheService" targetNamespace="http://cache.ts.hadoop/" xmlns:tns="http://cache.ts.hadoop/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="add"/>
    <message name="addResponse"/>
    <message name="hasKey"/>
    <message name="hasKeyResponse"/>
    <message name="put"/>
    <message name="putResponse"/>
    <message name="get"/>
    <message name="getResponse"/>
    <message name="init"/>
    <message name="initResponse"/>
    <portType name="TSCache.v2">
        <operation name="add">
            <input message="tns:add"/>
            <output message="tns:addResponse"/>
        </operation>
        <operation name="hasKey">
            <input message="tns:hasKey"/>
            <output message="tns:hasKeyResponse"/>
        </operation>
        <operation name="put">
            <input message="tns:put"/>
            <output message="tns:putResponse"/>
        </operation>
        <operation name="get">
            <input message="tns:get"/>
            <output message="tns:getResponse"/>
        </operation>
        <operation name="init">
            <input message="tns:init"/>
            <output message="tns:initResponse"/>
        </operation>
    </portType>
    <binding name="TSCache.v2PortBinding" type="tns:TSCache.v2">
        <wsp:PolicyReference URI="#TSCache.v2PortBindingPolicy"/>
        <operation name="add">
            <input/>
            <output/>
        </operation>
        <operation name="hasKey">
            <input/>
            <output/>
        </operation>
        <operation name="put">
            <input/>
            <output/>
        </operation>
        <operation name="get">
            <input/>
            <output/>
        </operation>
        <operation name="init">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="HBaseCacheService">
        <port name="TSCache.v2Port" binding="tns:TSCache.v2PortBinding"/>
    </service>
    <wsp:Policy wsu:Id="TSCache.v2PortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
